@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';


/* Основні стилі */
body {
  font-family: 'Raleway', sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

.container {
    width: 100%;
    padding: 20px;
  
    @include respond-to(small) {
      padding: 10px;
    }
  
    @include respond-to(medium) {
      padding: 15px;
    }
  
    @include respond-to(large) {
      padding: 20px;
    }
  
    @include respond-to(xlarge) {
      padding: 25px;
    }
}